{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveaupdv edit</h1>

    {{ form_start(edit_form) }}
       	<div class="form-horizontal">
			{{ form_widget(edit_form) }}
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Valider" class="btn btn-success" />
				</div>
			</div>
		</div>
    {{ form_end(edit_form) }}
		<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<a href="{{ path('nouveaupdv_index') }}" class="btn btn-info">Retour</a>
				</div>
				<div class="col-md-offset-2 col-md-10">
					{{ form_start(delete_form) }}
						<input type="submit" value="Supprimer" class="btn btn-danger">
					{{ form_end(delete_form) }}
				</div>
		</div>
{% endblock %}
