{% extends 'base.html.twig' %}

{% block body %}
    <h1>liste des points de ventes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Raisonsociale</th>
                <th>Typepdv</th>
                <th>Adressepdv</th>
                <th>Wilayapdv</th>
                <th>Communepdv</th>
                <th>Msisdn</th>
                <th>Autretelephonepdv</th>
                <th>Emailpdv</th>
                <th>Password</th>
                <th>Codevendeur</th>
                <th>Statue</th>
                <th>Datecreation</th>
                <th>Datemodification</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nouveaupdv in nouveaupdvs %}
            <tr>
                <td><a href="{{ path('nouveaupdv_show', { 'id': nouveaupdv.id }) }}">{{ nouveaupdv.raisonSociale }}</a></td>
                <td>{{ nouveaupdv.typePdv }}</td>
                <td>{{ nouveaupdv.adressePdv }}</td>
                <td>{{ nouveaupdv.wilayaPdv }}</td>
                <td>{{ nouveaupdv.communePdv }}</td>
                <td>{{ nouveaupdv.msisdn }}</td>
                <td>{{ nouveaupdv.autreTelephonePdv }}</td>
                <td>{{ nouveaupdv.emailPdv }}</td>
                <td>{{ nouveaupdv.password }}</td>
                <td>{{ nouveaupdv.codeVendeur }}</td>
                <td>{{ nouveaupdv.statue }}</td>
                <td>{% if nouveaupdv.dateCreation %}{{ nouveaupdv.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if nouveaupdv.dateModification %}{{ nouveaupdv.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ nouveaupdv.id }}</td>
                <td>
					<div class="btn-group">
			            <a href="{{ path('nouveaupdv_show', { 'id': nouveaupdv.id }) }}" class="btn btn-info">
							<i class="glyphicon glyphicon-info-sign"></i>
							<span>
								<strong></strong>
							</span>
						</a>
			            <a href="{{ path('nouveaupdv_edit', { 'id': nouveaupdv.id }) }}" class="btn btn-warning">
							<i class="glyphicon glyphicon-pencil"></i>
							<span>
								<strong></strong>
							</span>
						</a>
					</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="{{ path('nouveaupdv_new') }}" class="btn btn-success">Nouveau PDV</a>
        </div>
    </div>
{% endblock %}
