{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveaupdv creation</h1>
    {{ form_start(form) }}
		<div class="form-horizontal">
			{{ form_widget(form) }}
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<a href="{{ path('nouveaupdv_index') }}" class="btn btn-info">Retour</a>
				</div>
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Valider" class="btn btn-success" />
				</div>
			</div>
		</div>
    {{ form_end(form) }}
{% endblock %}
