{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveaupdv</h1>

    <table>
        <tbody>
            <tr>
                <th>Raisonsociale</th>
                <td>{{ nouveaupdv.raisonSociale }}</td>
            </tr>
            <tr>
                <th>Typepdv</th>
                <td>{{ nouveaupdv.typePdv }}</td>
            </tr>
            <tr>
                <th>Adressepdv</th>
                <td>{{ nouveaupdv.adressePdv }}</td>
            </tr>
            <tr>
                <th>Wilayapdv</th>
                <td>{{ nouveaupdv.wilayaPdv }}</td>
            </tr>
            <tr>
                <th>Communepdv</th>
                <td>{{ nouveaupdv.communePdv }}</td>
            </tr>
            <tr>
                <th>Msisdn</th>
                <td>{{ nouveaupdv.msisdn }}</td>
            </tr>
            <tr>
                <th>Autretelephonepdv</th>
                <td>{{ nouveaupdv.autreTelephonePdv }}</td>
            </tr>
            <tr>
                <th>Emailpdv</th>
                <td>{{ nouveaupdv.emailPdv }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ nouveaupdv.password }}</td>
            </tr>
            <tr>
                <th>Codevendeur</th>
                <td>{{ nouveaupdv.codeVendeur }}</td>
            </tr>
            <tr>
                <th>Statue</th>
                <td>{{ nouveaupdv.statue }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if nouveaupdv.dateCreation %}{{ nouveaupdv.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{% if nouveaupdv.dateModification %}{{ nouveaupdv.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ nouveaupdv.id }}</td>
            </tr>
        </tbody>
    </table>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<a href="{{ path('nouveaupdv_index') }}" class="btn btn-info">Retour</a>
		</div>
		<div class="col-md-offset-2 col-md-10">
			<a href="{{ path('nouveaupdv_edit', { 'id': nouveaupdv.id }) }}" class="btn btn-warning">Edit</a>
		</div>
		<div class="col-md-offset-2 col-md-10">
			{{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
		</div>
	</div>
  
{% endblock %}
